*, *::before, *::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

/* buttons */
.primary-btn {
    border: transparent;
    background-color: rgb(209, 219, 198);
    color: rgba(37, 53, 26, 0.7);
    font-size: 1rem;
    font-weight: 900;
    padding: 1em 2em;
    border-radius: 0.5em;
}

.primary-btn:hover {
    cursor: pointer;
    background-color: rgb(165, 177, 152);
}


/* navbar */

.header {
    display: flex;
    align-items: center;
    padding: 1.5em 4em;
}

.logo-container {
    margin-right: 9.2em;
}

.logo {
    width: 2.5em;
}

.nav-primary {
    display: flex;
    justify-content: space-between;
}

.nav-primary {
    flex-grow: 1;
}

.nav-list {
    display: flex;
    gap: 2em;
    list-style: none;
    align-items: center;
}

.nav-list-primary {
    margin: 0 auto;
}

.nav-items {
    font-size: 1.3em;
}

.nav-links {
    text-decoration: none;
    color: rgba(37, 53, 26, 0.7);
}

.sign-up {
    color: white;
    background-color: rgba(37, 53, 26, 0.7);
    padding: 0.5em;
    border-radius: 1em;
}

.nav-items:hover, .sign-up:hover {
    cursor: pointer;
    opacity: 0.7;
}


/* intro */
.intro-banner {
    background-image: url(images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 4em;
}

.intro-banner-overlay {
    background-color: rgba(37, 53, 26, 0.7);
    color: rgb(209, 219, 198);
    text-align: center;
    padding: 5em 1em;
}

.intro-header {
    font-size: 3.5rem;
    margin-bottom: 0.25em;
}

.intro-desc {
    font-size: 1.25rem;
    margin-bottom: 1em;
    width: 100%;
    max-width: 700px;
    margin-inline: auto;
}


/* main */
.sm-container {
    padding: 5em 5em;
}

#founders-header, #places-header, #reviews-header {
    font-size: 2rem;
    margin-bottom: 1em;
    text-align: center;
}

#founders-desc {
    font-size: 1.25rem;
    text-align: justify;
    width: 100%;
    max-width: 700px;
    margin-inline: auto;
}

.lg-container {
    padding: 4em;
}

#places-container {
    background-color: rgba(37, 53, 26, 0.7);
    color: white;
}

.f-row {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.place-container {
    background-color: rgb(165, 177, 152);
    color: rgba(37, 53, 26, 0.7);
    padding: 2em 3em;
    border-radius: 2em;
    max-width: 29%;
}

.place-header, .review-header {
    font-size: 1.5rem;
    margin-bottom: 0.3em;
}


.review-container {
    padding: 2em 0;
    max-width: 48%;
    
}



